<!DOCTYPE html>
<html lang="en">
<head>
  <title>listusers</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container" style="background-color:#fafafa;position:relative;transform: translate(0%, 20%) ">
  <h2>Usuários </h2> 
  <p>Usuários cadastrados :</p>            
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Número Mac</th>
      
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>4321</td>
        <td><a href="#">editar</a></td>
        <td><a href="#">excluir</a></td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>54432</td>
        <td><a href="#">editar</a></td>
        <td><a href="#">excluir</a></td>
      </tr>
      <tr>
        <td>July</td>
        <td>544212</td>
        <td><a href="#">editar</a></td>
        <td><a href="#">excluir</a></td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>