<div class="container">
  <div class="row">
    <br /><br />
    <form id="togglingForm" method="post" class="form-horizontal">
      <div class="form-group">
        <div class="col-xs-9">
          <input type="text" class="form-control" name="company" required data-fv-notempty-message="The company name is required" />          <br />

          <label class="radio-inline">Buscar por </label>
          <label class="radio-inline">
                <input type="radio" name="rating" value="terrible" checked='checked' /> Nome do Evento
            </label>
          <label class="radio-inline">
                <input type="radio" name="rating" value="terrible" /> Data
            </label>




        </div>

        <div class="col-xs-2">
          <button type="button" class="btn btn-success" data-toggle="#jobInfo">Buscar</button>
        </div>
      </div>
    </form>




  </div>
</div>
<div class="container">
  <h2>Resultado</h2>
  <p>Informações :</p>
  <table class="table">
    <thead>
      <tr>
        <th>Data :</th>
        <th>Nome de Evento</th>
      </tr>
    </thead>
    <tbody>
      <tr class="info">
        <td>1</td>
        <td>Wally</td>
      </tr>
      <tr>
        <td>2</td>
        <td>wally2</td>
      </tr>
      <tr>
        <td>3</td>
        <td>wally3</td>
      </tr>
    </tbody>
  </table>
</div>