<body ng-app="pdApp" 'no-repeat center center fixed' 'background-size':'10%' style="background-color:White; overflow-x: hidden ">
 <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico" />
 
  <span ng-include="'views/nav/nav.html'"></span>
  <br>
  <ui-view></ui-view>

<footer style="background-color:#C0D6DF;width:1305px;height:auto;position:relative;right:33px;bottom:-45px">
<div class="row">
  <div class=" col-sm-6">
      <img src="/assets/logotipo-nexti.png"  class="img-responsive" alt="NExTI - Nucleo de Extensão em Tecnologia da Informação"style="width:150px" >
      <small><h6> © 2017 | NExTI - Nucleo de Extensão em Tecnologia da Informação</h6></small>
  </div>
  <div >
    <div class=" col-sm-6">
      <h5>
        Contato
      </h5>
      <h6><span class="glyphicon glyphicon-phone"></span> (88) 3512-3299 
      <br>
      <br>
      <span class="glyphicon glyphicon-envelope"></span> fap@fapce.edu.br
      <br>
      <br>
      <span class="glyphicon glyphicon-map-marker"></span> Rua da Conceição, 1228 - S. Miguel
      Juazeiro do Norte, CE
      CEP.: 63010-465 </h6>
    </div>
  </div>
</div>
</footer>
</body>