<body ng-app="pdApp" ng-style="{'background-image': 'url(/assets/fundo.jpg)'}" 'no-repeat center center fixed' 'background-size':'10%'>
  <span ng-include="'views/nav/nav.html'"></span>
  <br>
  <div style="text-align: center;">
    <img ng-src="/assets/logotipo-nexti.png" alt="NExTI - Nucleo de Extensão em Tecnologia da Informação">
  </div>
  <br>
  <ui-view></ui-view>
</body>