<body ng-app="pdApp" 'no-repeat center center fixed' 'background-size':'10%' style="background-color:White; overflow-x: hidden ">
 <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico" />
 
  <span ng-include="'views/nav/nav.html'"></span>
  <br>
  <ui-view></ui-view>


</body>