<div class="container " style="position:relative;transform: translate(-2%, 8%); width:50%; background-color:#eeeeee">
	<img ng-src="/assets/logotipo-nexti.png" alt="NExTI - Nucleo de Extensão em Tecnologia da Informação" style="position:relative;transform: translate(40%, 0%)">
	<div class="form-group form-group-sm">
		<form name="vm.form">
			<center><h2 style="color:black">Cadastre-se<small><br><div style="color:black">(Preencha os campos abaixo)</div></small> </h2></center><br>
			<div class="form-group form-group-sm">
				<label for="formGroupInputSmall"><h4>Nome</h4></label>
				<input class="form-control" type="text" name="user" placeholder="Nome Completo" ng-model="vm.name" required><br>
			</div>
			<div role="alert">
				<span class="error" ng-show="vm.form.user.$dirty && vm.form.user.$error.required">
       			(Campo obrigatório)</span>
			</div>
			<div class="form-group form-group-sm">
				<label  for="formGroupInputSmall"><h4>Senha</h4></label>
				<input class="form-control" type="password" name="senha" placeholder="Senha" ng-model="vm.senha" ng-minlength="5" required><br>
			</div>
			<div role="alert">
				<span class="error" ng-show="vm.form.senha.$dirty && vm.form.senha.$error.required">
					(Campo obrigatório)</span>
				<span class="error" ng-show="vm.form.senha.$dirty && vm.form.senha.$error.minlength">
					A senha deve conter no mínimo 5 caracteres</span>
			</div>
			<div class="form-group form-group-sm">
				<label  for="formGroupInputSmall"><h4>Confirmar senha</h4></label>
				<input class="form-control" type="password" name="confirma" placeholder="Confirmar Senha" ng-model="vm.confirmaSenha" ng-minlength="6"
				 required ng-pattern="{{vm.senha}}"><br>
			</div>
			<div role="alert">
				<span class="error" ng-show="vm.form.confirma.$senha && vm.form.confirma.$error.required">
					(Campo obrigatório)</span>
				<span class="error" ng-show="vm.form.confirma.$dirty && vm.form.senha.$dirty && vm.form.confirma.$error.pattern">
					As senhas não correspondem</span>
			</div>
			<div class="form-group form-group-sm">
				<label  for="formGroupInputSmall"><h4>Número da matrícula</h4></label>
				<input class="form-control" name="matricula" type="text" placeholder="Matricula" ng-model="vm.matricula" required><br>
			</div>
			<div role="alert">
				<span class="error" ng-show="vm.form.matricula.$dirty && vm.form.matricula.$error.required">
       			(Campo obrigatório)</span>
			</div>
			<div class="form-group form-group-sm">
				<label  for="formGroupInputSmall"><h4>E-mail</h4></label>
				<input class="form-control" name="imei" type="email" placeholder="E-mail" ng-model="vm.email" required><br>
			</div>
			<div role="alert">
				<span class="error" ng-show="vm.form.imei.$dirty && vm.form.imei.$error.required">
       			(Campo obrigatório)</span>
				<span class="error" ng-show="vm.form.imei.$dirty && vm.form.imei.$invalid">
				    Insira um e-mail válido.</span>
			</div>
			<div style="text-align-last: right">
				<button class="btn btn-primary" ng-disabled="vm.form.$invalid" ng-click="vm.cadastrarUsuario()">Cadastrar-se</button>
			</div>
		</form>
		
	</div>
</div>
<br>
<br>
<br>
<br>