<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
        <h4 class="modal-title" id="myModalLabel">Código QR</h4>
      </div>
      <div class="modal-body">
        <div>
          <span ng-if="vm.QR.length>0">
              <img ng-src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data={{vm.QR}}">
            </span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary info">Imprimir</button>
      </div>
    </div>
  </div>
</div>

<div class="container" style="position:relative;transform: translate(0%, 0%); width:50%;top:0%;background-color:#fafafa">
  <img ng-src="/assets/logotipo-nexti.png" alt="NExTI - Nucleo de Extensão em Tecnologia da Informação" style="position:relative;transform: translate(35%, 0%)">


  <form name="vm.form">
    <div ng-if="vm.mensagem">{{vm.mensagem}}</div>

    <label for="nome"> <h4>Nome</h4></label>
    <input class="form-control" name="nome" type="text" ng-model="vm.nome" required><br>
    <div role="alert">
      <span class="error" ng-show="vm.form.nome.$dirty && vm.form.nome.$error.required">
        (Campo obrigatório)</span>
    </div>

    <label for="tipo"> <h4>Tipo</h4> </label>
    <input class="form-control" type="text" name="tipo" ng-model="vm.tipo" required><br>
    <div role="alert">
      <span class="error" ng-show="vm.form.tipo.$dirty && vm.form.tipo.$error.required">
        (Campo obrigatório)</span>
    </div>

    <label for="data-inicio"> <h4>Data de inicio</h4> </label>
    <input class="form-control" name="data-inicio" type="date" ng-model="vm.dataInicio" required> <br>
    <div role="alert">
      <span class="error" ng-show="vm.form.data-inicio.$dirty && vm.form.data-inicio.$error.required">
        (Campo obrigatório)</span>
    </div>

    <label for="data-termino"> <h4>Data de término</h4> </label>
    <input class="form-control" name="data-termino" type="date" ng-model="vm.dataFim" required> <br>
    <div role="alert">
      <span class="error" ng-show="vm.form.data-termino.$dirty && vm.form.data-termino.$error.required">
        (Campo obrigatório)</span>
    </div>

    <label for="hora-inicio"> <h4>Hora de Inicio</h4> </label>
    <input class="form-control" name="hora-inicio" type="time" ng-model="vm.horaInicio" required> <br>
    <div role="alert">
      <span class="error" ng-show="vm.form.hora-inicio.$dirty && vm.form.hora-inicio.$error.required">
        (Campo obrigatório)</span>
    </div>

    <label for="hora-termino"> <h4>Hora de Término</h4> </label>
    <input class="form-control" name="hora-termino" type="time" ng-model="vm.horaFim" required> <br>
    <div role="alert">
      <span class="error" ng-show="vm.form.hora-termino.$dirty && vm.form.hora-termino.$error.required">
        (Campo obrigatório)</span>
    </div>

    <label for="local"> <h4>Local</h4> </label>
    <textarea class="form-control" name="local" ng-model="vm.local" required></textarea> <br>
    <div role="alert">
      <span class="error" ng-show="vm.form.qr.$dirty && vm.form.local.$error.required">
        (Campo obrigatório)</span>
    </div>

    <label for="desc"> <h4>Descrição</h4> </label>
    <textarea class="form-control" name="desc" ng-model="vm.descricao" required></textarea> <br>
    <div role="alert">
      <span class="error" ng-show="vm.form.qr.$dirty && vm.form.desc.$error.required">
        (Campo obrigatório)</span>
    </div>

    <label for="qr"> <h4>Qrcode</h4> </label>
    <input class="form-control" type="text" name="qr" ng-model="vm.QR" required style="width:400px">
    <br>
    <button type="button" class="btn btn-primary" style="position:relative;transform:translate(300%,-150%)"><span class="	glyphicon glyphicon-qrcode"></span> Gerar Qrcode </button>
    <br>
    <div role="alert">
      <span class="error" ng-show="vm.form.qr.$dirty && vm.form.qr.$error.required">
        (Campo obrigatório)</span>
    </div>
    <label for="qr"> <h4>Imagem</h4> </label>
    <input class="form-control" type="text" name="img" ng-model="vm.imagem" required style="width:380px">
    <br>
    <button type="button" class="btn btn-primary" style="position:relative;transform:translate(235%,-150%)"><span class="		glyphicon glyphicon-camera"></span> Escolher Imagem </button>
    <br>
    <!-- imagem não deve ser obrigatória ainda
    <div role="alert">
      <span class="error" ng-show="vm.form.img.$dirty && vm.form.img.$error.required">
        (Campo obrigatório)</span>
    </div>
    -->
    <label for="latitude"> <h4>Latitude</h4> </label>
    <input class="form-control" type="text" ng-model="vm.latitude"> <br>
    <label for="longitude"> <h4>Longitude</h4></label>
    <input class="form-control" type="text" ng-model="vm.longitude"> <br>

    <button type="button" ng-disabled="vm.QR.length<1" class="btn btn-primary success" data-toggle="modal" data-target="#myModal">Gerar QR</button>
    <br>
    <button class="btn btn-info" ng-click="vm.cadastrarEvento()" ng-disabled="vm.botao" style="background-color:#007db7"><span class="	glyphicon glyphicon-ok"></span> OK</button>

  </form>



  <br><br>
</div>