<div class="container">
  <div class="row">
    <br>
    <br>
    <form name="vm.form" class="form-horizontal">
      <div class="form-group">
        <div class="col-xs-9">
          <input type="text" class="form-control" name="busca" ng-model="vm.busca" placeholder="Nome ou Data" ng-change="vm.buscar()">
          <br>
          <label class="radio-inline">Buscar por </label>
          <label class="radio-inline">
                <input type="radio" name="busc" ng-model="vm.radio" value="nome" checked='checked' ng-change="vm.buscar()"> Nome do Evento
            </label>
          <label class="radio-inline">
                <input type="radio" name="busc" ng-model="vm.radio" value="data" ng-change="vm.buscar()"> Data
            </label>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="container">
  <h2>Informações:</h2>
  <table class="table">
    <thead>
      <tr class="info">
        <th>Nome de Evento</th>
        <th>Data :</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="evento in vm.eventos|filter:vm.filtro:strict">
        <td>{{evento.nome}}</td>
        <td>{{evento.data_inicio}}</td>
        <td><button ng-click="vm.relatorio(evento)">Detalhes</button></td>
      </tr>
    </tbody>
  </table>
  <h2>Detalhes</h2>
  <table class="table">
    <thead>
      <tr class="info">
        <th>Nome:</th>
        <th>Presenças:</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in vm.users">
        <td>{{user.nome}}</td>
        <td>{{user.presenca}}</td>
      </tr>
    </tbody>
  </table>
</div>