<div class="container">
  <div class="row">
    <br>
    <br>
    <form name="vm.form" class="form-horizontal">
      <div class="form-group">
        <div class="col-xs-9">
          <input type="text" class="form-control" name="busca" ng-model="vm.busca" placeholder="Nome ou Data">
          <br>
          <label class="radio-inline">Buscar por </label>
          <label class="radio-inline">
                <input type="radio" name="nome" ng-model="vm.radio" value="nome" checked='checked'> Nome do Evento
            </label>
          <label class="radio-inline">
                <input type="radio" name="data" ng-model="vm.radio" value="data"> Data
            </label>
        </div>
        <div class="col-xs-2">
          <button type="button" class="btn btn-success" ng-click="vm.buscar()">Buscar</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="container">
  <h2>Resultado</h2>
  <p>Informações :</p>
  <table class="table">
    <thead>
      <tr class="info">
        <th>Data :</th>
        <th>Nome de Evento</th>
      </tr>
    </thead>
    <tbody>
      <div ng-repeat="evento in vm.eventos">
        <tr>
          <td>{{evento.nome}}</td>
          <td>{{evento.data}}</td>
        </tr>
      </div>
    </tbody>
  </table>
</div>