<div class="container">
  <div class="row">
    <br>
    <br>
    <form name="vm.form" class="form-horizontal">
      <div class="form-group">
        <div class="col-xs-9">
          <input type="text" class="form-control">
          <br>
          <label class="radio-inline">Buscar por </label>
          <label class="radio-inline">
                <input type="radio" ng-model="vm.radio" value="nome" checked='checked'> Nome
            </label>
          <label class="radio-inline">
                <input type="radio" ng-model="vm.radio" value="matricula"> Número da matrícula
            </label>
        </div>
        <div class="col-xs-2">
          <button type="button" class="btn btn-success" ng-click="">Buscar</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="container">
  <h2>Resultado</h2>
  <p>Informações :</p>
  <table class="table">
    <thead>
      <tr>
        <th>NúmeroM</th>
        <th>Nome</th>
      </tr>
    </thead>
    <tbody>
      <tr class="info">
        <td>1</td>
        <td>Wally</td>
      </tr>
      <tr>
        <td>2</td>
        <td>wally2</td>
      </tr>
      <tr>
        <td>3</td>
        <td>wally3</td>
      </tr>
    </tbody>
  </table>
</div>