<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

 



<div class="jumbotron text-center" style="font-family:roboto;background-color:#d9edf7;width:105.9%;transform: translate(-3%, 0%);background-image: url(/assets/logo3.png);">
  <h1> <kbd> Ponto Dinâmico </kbd></h1>

  
   <p style="font-family:roboto"> <kbd>Seja bem-vindo ao Ponto Dinâmico </kbd></p> 
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="list-group" style="background-color:#fafafa;position:relative;left:50%;transform: translate(-50%, -0%); width:100%;top:30%;text-align: center ">
    <li class="list-group-item list-group-item-info">Cadastros</li>
    <a href="#!/cadastrarEvento/" class="list-group-item">Cadastrar evento</a>
    <a href="#!/cadastrarUser/" class="list-group-item">Cadastrar perfil do usuário</a>
     <a href="#" class="list-group-item">Gerar Qrcode </a>
    </div>
    </div>
    <div class="col-sm-4">
      <div class="list-group" style="background-color:#fafafa;position:relative;left:50%;transform: translate(-50%, -0%); width:100%;top:30%;text-align: center ">
   <li class="list-group-item list-group-item-info">Relatórios</li>
    <a href="#!/listaUser/" class="list-group-item">Relatório por usuário</a>
    <a href="#!/listaEvento/" class="list-group-item">Relatório por eventos</a>
    </div>
    </div>
    <div class="col-sm-4">
     <div class="list-group" style="background-color:#fafafa;position:relative;left:50%;transform: translate(-50%, -0%); width:100%;top:30%;text-align: center ">
   <li class="list-group-item list-group-item-info">Edição</li>
    <a href="#" class="list-group-item">Editar usuário</a>
    </div>
    </div>
  </div>
</div>
</div>
 