<div class="container" style="background-color:#e3f2fd; ">
  <div class="row">
    <br>
    <br>
    <form name="vm.form" class="form-horizontal">
      <div class="form-group">
        <div class="col-xs-9" style="position:relative;transform: translate(20%, 0%)">
          <input type="text" class="form-control" ng-change="vm.buscar()" ng-model="vm.busca" placeholder="Nome ou Número de Matrícula">
          <br>
          <label class="radio-inline">Buscar por </label>
          <label class="radio-inline">
                <input type="radio" name="busc" ng-change="vm.busca=''; vm.buscar()" ng-model="vm.radio" value="nome" checked='checked'> Nome
            </label>
          <label class="radio-inline">
                <input type="radio" name ="busc" ng-change="vm.busca=''; vm.buscar()" ng-model="vm.radio" value="matricula"> Número da matrícula
            </label>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="container.responsive">
  <h2>Resultado</h2>
  <p>Informações :</p>
  <table class="table" fixed-header table-height="100px">
    <thead>
      <tr class="info">
        <th>NúmeroM</th>
        <th>Nome</th>
        <th> </th>
        <th> </th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in vm.users | filter:vm.filtro:strict" ng-class="user.classe">
        <span style="width: max-content">
        <td>{{user.matricula}}</td>
        <td>{{user.nome}}</td>
        <td><a ui-sref="editUser({user: user})" type="button" class="btn btn-primary" style="color:white">editar</a></td>
        <td><a href="" type="button" class="btn btn-primary" style="color:white">informações</a></td>
        <td><a ng-click="vm.relatorio(user)" type="button" class="btn btn-primary" style="color:white">relatório</a></td>
        </span>
      </tr>
    </tbody>
  </table>
  <h2>Relatório:</h2>

  <table class="table" fixed-header table-height="100px">
    <thead>
      <tr class="info">
        <th>nome</th>
        <th>Data Início</th>
        <th>Data Fim</th>
        <th> </th>
        <th> </th>
      </tr>
    </thead>
    <tbody>

      <tr ng-repeat="evento in vm.eventos" ng-class="evento.classe">
        <td>{{evento.nome}}</td>
        <td>{{evento.data_inicio}}</td>
        <td>{{evento.data_fim}}</td>
        <td><a ng-click="vm.listaPontos(evento)" type="button" class="btn btn-primary" style="color:white">pontos</a></td>
        <td> </td>
      </tr>

    </tbody>
  </table>

  <h2>Pontos:</h2>
  <table class="table" fixed-header table-height="100px">
    <thead>
      <tr class="info">
        <th>Data</th>
        <th>Entrada</th>
        <th>Saída</th>
        <th>Mensagem de Atraso</th>
      </tr>
    </thead>

    <tbody>
      <tr class="active" ng-repeat="ponto in vm.pontos">
        <td>{{ponto.data | date:"dd/MM/yyyy"}}</td>
        <td>{{ponto.hora_inicio}}</td>
        <td>{{ponto.hora_fim}}</td>
        <td>{{ponto.mensagem}}</td>
      </tr>
    </tbody>
  </table>

</div>
</div>