<div class="container">
  <div class="row">
    <br>
    <br>
    <form name="vm.form" class="form-horizontal">
      <div class="form-group">
        <div class="col-xs-9">
          <input type="text" class="form-control" ng-model="vm.search" placeholder="Nome ou Número de Matrícula">
          <br>
          <label class="radio-inline">Buscar por </label>
          <label class="radio-inline">
                <input type="radio" name="busc" ng-model="vm.radio" value="nome" checked='checked'> Nome
            </label>
          <label class="radio-inline">
                <input type="radio" name ="busc" ng-model="vm.radio" value="matricula"> Número da matrícula
            </label>
        </div>
        <div class="col-xs-2">
          <button type="button" class="btn btn-primary" ng-click="vm.buscar()">Buscar</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="container">
  <h2>Resultado</h2>
  <p>Informações :</p>
  <table class="table" fixed-header table-height="50px">
    <thead>
      <tr class="info">
        <th>NúmeroM</th>
        <th>Nome</th>
        <th> </th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <div ng-repeat="user in vm.users">
        <tr>
          <td>{{user.id}}</td>
          <td>{{user.nome}}</td>
          <td><a ui-sref="#!/editUser({user: user})/" type="button" class="btn btn-primary" style="color:white">editar</a> </td>
          <td><a href="" type="button" class="btn btn-primary" style="color:white">informações</a></td>
          <td><a href="" type="button" class="btn btn-primary" style="color:white">relatório</a></td>
        </tr>
      </div>
    </tbody>
  </table>
  <div class="container" style="position:relative;transform: translate(-7%, 15%);width:90%">
    <h2>Relatório:</h2>

    <table class="table">
      <thead>
        <tr class="info">
          <th>nome</th>
          <th>data</th>
          <th>hora entrada</th>
          <th>hora saída</th>
          <th>mensagem de atraso</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td>1</td>
          <td>Wally</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>

        </tr>
        <tr>
          <td>2</td>
          <td>wally2</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
        </tr>
        <tr>
          <td>3</td>
          <td>wally3</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>