<div class="container " style="position:relative;transform: translate(0%, 10%); width:50%;top:5%; background-color:	#fafafa">
	<div class="form-group form-group-sm">
		<form name="vm.form">
			<div style="text-align: center; font-family: inherit;">
				<h2 style="color:black">Editar<small><br><div style="color:black">(Edite os campos abaixo)</div></small> </h2>
			</div>



			<div class="form-group form-group-sm">
				<label class="col-sm-8 control-label" for="formGroupInputSmall">Escolha uma senha</label>
				<input class="form-control" type="password" name="senha" placeholder="Senha" ng-model="vm.senha" ng-minlength="5" required><br>
			</div>
			<div role="alert">
				<span class="error" ng-show="vm.form.senha.$dirty && vm.form.senha.$error.required">
					(Campo obrigatório)</span>
				<span class="error" ng-show="vm.form.senha.$dirty && vm.form.senha.$error.minlength">
					A senha deve conter no mínimo 5 caracteres</span>
			</div>
			<div class="form-group form-group-sm">
				<label class="col-sm-6 control-label" for="formGroupInputSmall">Confirmar senha</label>
				<input class="form-control" type="password" name="confirmaSenha" placeholder="Confirmar Senha" ng-model="vm.confirmaSenha"
				 ng-minlength="6" required ng-pattern="{{vm.senha}}"><br>
			</div>
			<div role="alert">
				<span class="error" ng-show="vm.form.confirmaSenha.$dirty && vm.form.confirmaSenha.$error.required">
					(Campo obrigatório)</span>
				<span class="error" ng-show="vm.form.confirmaSenha.$dirty && vm.form.confirmaSenha.$error.pattern">
					As senhas não correspondem</span>
			</div>
			<div class="form-group form-group-sm">
				<label class="col-sm-10 control-label" for="formGroupInputSmall">Número MAC</label>
				<input class="form-control" name="MAC" type="text" placeholder="Matricula" ng-model="vm.matricula" required><br>
			</div>
			<div role="alert">
				<span class="error" ng-show="vm.form.matricula.$error.required">
       			(Campo obrigatório)</span>
			</div>
			<div class="form-group form-group-sm">
				<label class="col-sm-5 control-label" for="formGroupInputSmall">E-mail</label>
				<input class="form-control" name="imei" type="email" placeholder="E-mail" ng-model="vm.email" required><br>
			</div>
			<div role="alert">
				<span class="error" ng-show="vm.form.imei.$error.required">
       			(Campo obrigatório)</span>
			</div>
		</form>
		<div style="text-align-last: right">
			<button class="btn btn-primary" ng-click="vm.cadastrarUsuario()">Editar</button>
		</div>
	</div>
</div>